.box_main {
    width: 100%;
    background-color: #ffffff;
    height: auto;
    padding: 20px;
    box-shadow: 0px 0 30px 10px #f0f0f0;
    margin-bottom: 20px;
    margin:10px;
}
.parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
align-items:center;
  }
  
  .parent app-product {
    width: 40%;
  }
  .buynow_bt {
    width: 170px;
    margin: 0 auto;
    padding-top: 30px;
}

.buynow_bt a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    background-color: #252525;
    text-align: center;
    padding: 10px 0px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
}

.buynow_bt a:hover {
    background-color: #f26522;
    color: #ffffff;
}

.banner_taital {
    width: 100%;
    font-size: 60px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
  .banner_bg_main {
    width: 100%;
    height: 100%;
    padding:250px;
    float: left;
    background-image: url(images/banner.png);
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; 
}
