
    <div class="banner_bg_main">
        <nav class="absolute top-0 right-0  px-5 left-0  h-[50px] flex justify-between items-center text-white bg-gray-500">
        <!-- header top section start -->
        <div class="container">
            <div class="header_section_top">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="custom_menu">

                            <span>
                                <h1 class="font-bold">Angular Apps</h1>
                                <ul>
                                   <!-- <li> <input type="text" class=" border py-2 px-4 mr-10" placeholder="Filter products..." [(ngModel)]="term"></li> -->
                                    <li><a routerLink="/" class="mr-2">Products</a></li>
                                    <li><a routerLink="/about">About</a></li>
                                </ul>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    </div>
